# Node.js dependencies
node_modules/

# Package lock files
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Other potential ignores
.DS_Store
.idea/
.vscode/
dist/
coverage/